*{
  margin: 0;
  padding: 0; 
  color: rgb(3, 3, 3); 
}
.form{
    
    left: 8PX;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.p1{
    text-align: center;
    position:relative;
    left: 15px;
    top: 20px;
    bottom: 20px;
    margin: 8px;
}
.inp1{
    background-color: rgb(245, 224, 224);
    text-align: center;
    border-radius:10px;
    left: 8px;
    top: 2px;
    bottom: 3px;
    position:relative;
    width: 150px;
    height: 20px;
}
.field{
    border: none;
position:relative;
left: 14px;
top: 8px;
}
.email{
    position: relative;
    left: 14px;
}
.inp2{
    text-align:center;
    position: relative;
    top: 2px;
    left: 8px;
    bottom: 3px;
    border-radius: 15px;
    height: 20px;
    background-color: rgb(245, 224, 224);
}
.gen{
    position: relative;
    left: 14px;
}
.inp3{
    
    position: relative;
    margin: 5px;
    width: 25px;
}
.data{
    position: relative;
    left: 14px;

}
.inpdt{
    font-size:17px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 5px;
    background-color: rgb(245, 224, 224);
}
.city{
    position: relative;
    left: 14px;
}
.inpct{
    position: relative;
    left: 5px;
    width:auto;
    height: 20px;
    border-radius: 15px;
    background-color:rgb(245,224,224) ;
    text-align:center;

}
.end{
    position: relative;
    left: 14px;
}
#end{
    left:4px;
    position: relative;
}
.inpend{
    text-align: center;
    border-radius: 15px;
    position: relative;
    left: 4px;
    right: 5px;
    background-color: rgb(245,224, 224);
}
.label{
    position: relative;
    left: 14px;
}
#field{
    border: none;
}
#text{
    position: relative;
    width: 50%;
    background-color: rgb(245,224,224);
    border-radius: 4px;
    left: 15px;
    height: 150px;
    top: 10px;
    font-family:Roboto , sans-serif;
    font-size: 16px;
}
.botao{
position: relative;
left: 45px;
margin-bottom: 10px;
top:2px;
height: 25px;
width: 90px;
font-family:sans-serif;
border-radius: 10px;
font-size: 15px;
background-color: rgb(245, 224, 224);
}
.body{
    background-image: url(../Formulario/img/Design\ sem\ nome.jpg);
    background-size:cover;
    background-position: center;
}
